{% extends "base.html.twig" %}

{% block title %}{{ parent() ~ "Articles" }}{% endblock %}

{% block content %}
    <div style="padding-left: 40%;">
        {{ form(form) }}
    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}